<a href="https://colab.research.google.com/github/fpiedra47/SQLAlchemy-/blob/main/sqlAlchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importa las librerias necesarias
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
df = pd.read_csv("/content/drive/My Drive/CodingDojo/Codigos/week12/School_Details.csv")
df.head()

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.
2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,West Pandam,...,37257.38680555556,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",NaN,Class 1,Class 10,C.B.S.E.
3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,West Pandam,...,28856,60.0,6.0,6.0,Recognized,State Govt.,NaN,Class 1,Class 8,NaN
4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,West Pandam,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,NaN,Class 1,Class 10,C.B.S.E.

In [4]:
sc = pd.read_csv("/content/drive/My Drive/CodingDojo/Codigos/week12/School_Facility_Details.csv")
sc.head()

,EstablishmentCode,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
2,S0237,4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
3,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
4,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available

In [5]:
engine = create_engine('sqlite:///school.db', echo=True)
conn = engine.connect()

In [7]:
sqlite_table = "school_details"
df.to_sql(sqlite_table, conn, if_exists='fail')

sqlite_table2 = "school_facility_details"
sc.to_sql(sqlite_table2, conn, if_exists='fail')

2022-03-27 15:16:53,308 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")
2022-03-27 15:16:53,312 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-27 15:16:53,317 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_details")
2022-03-27 15:16:53,324 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-27 15:16:53,357 INFO sqlalchemy.engine.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-03-27 15:16:53,361 INFO sqlalchemy.engine.Engine [no key 0.00382s] ()
2022-03-27 15:16:53,385 INFO sqlalchemy.engine.Engine COMMIT
2022-03-27 15:16:53,390 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2022-03-27 15:16:53,399 INFO sqlalchemy.engine.Engine [no key 0.00964s] ()
2022-03-27 15:16:53,418 INFO sqlalchemy.engine.Engine COMMIT
2022-03-27 15:16:53,448 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-27 15:16:53,766 INFO sqlalchemy.engine.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-03-27 15:16:53,775 INFO sqlalchemy.engine.Engine [generated in 0.28737s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-03-27 15:16:53,814 INFO sqlalchemy.engine.Engine COMMIT
2022-03-27 15:16:53,861 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility_details")
2022-03-27 15:16:53,869 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-27 15:16:53,878 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility_details")
2022-03-27 15:16:53,885 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-27 15:16:53,906 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2022-03-27 15:16:53,920 INFO sqlalchemy.engine.Engine [no key 0.01391s] ()
2022-03-27 15:16:53,946 INFO sqlalchemy.engine.Engine COMMIT
2022-03-27 15:16:53,954 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")
2022-03-27 15:16:53,957 INFO sqlalchemy.engine.Engine [no key 0.00348s] ()
2022-03-27 15:16:53,977 INFO sqlalchemy.engine.Engine COMMIT
2022-03-27 15:16:53,990 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-27 15:16:54,143 INFO sqlalchemy.engine.Engine INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-03-27 15:16:54,152 INFO sqlalchemy.engine.Engine [generated in 0.14381s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2022-03-27 15:16:54,184 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
#¿Cuál es el BACDistance promedio (en km)? Renombra la columna resultante como "avg_bac_distancia."
sql = """
SELECT AVG("BACDistance (in Km)") AS avg_bac_distancia
FROM school_details """
df = pd.read_sql_query(sql, engine)
df.head()

2022-03-27 15:18:20,976 INFO sqlalchemy.engine.Engine
SELECT AVG("BACDistance (in Km)") AS avg_bac_distancia
FROM school_details
2022-03-27 15:18:20,981 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distancia
0          12.681822

In [10]:
# ¿Cuál es el BACDistance promedio (en km) según nivel educativo del colegio?  Ordena los resultados de promedio mayor a promedio menor.
sql = """
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC """

df = pd.read_sql_query(sql, engine)
df.head()

2022-03-27 15:19:18,278 INFO sqlalchemy.engine.Engine
SELECT SchoolLevel, AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC
2022-03-27 15:19:18,281 INFO sqlalchemy.engine.Engine [raw sql] ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095
4         LPS          5.368421

In [11]:
#Une las dos tablas (detalles de colegios y detalles de instalaciones de los colegios). Comienza mostrando todas las columnas, pero limita las filas resultantes a solo 2.

sql = """
SELECT *
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode LIMIT 2 """

df = pd.read_sql_query(sql, engine)
df.head()

2022-03-27 15:20:03,603 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode LIMIT 2

2022-03-27 15:20:03,613 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

In [12]:
sql = """
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available' """

df = pd.read_sql_query(sql, engine)
df.head()

2022-03-27 15:21:42,246 INFO sqlalchemy.engine.Engine
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'
2022-03-27 15:21:42,258 INFO sqlalchemy.engine.Engine [raw sql] ()

                        EstablishmentName SchoolLevel IsLibraryAvailable
0        EASWARAMMA SAI GURUKOOL ACCADEMY          PS      Not Available
1     NEW GARDEN BOARDING SCHOOL (SAJONG)          PS      Not Available
2     SARASWATI SHISHU VIDHYALAYA, BUDANG          PS      Not Available
3        SAWNEY GOVERNMENT PRIMARY SCHOOL          PS      Not Available
4  UPPER PACHAK GOVERNMENT PRIMARY SCHOOL          PS      Not Available

In [13]:
# Toma la consulta anterior, pero ordena los resultados en orden alfabético por nombre
sql = """
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'
ORDER BY s.EstablishmentName """

df = pd.read_sql_query(sql, engine)
df.head()

2022-03-27 15:22:25,902 INFO sqlalchemy.engine.Engine
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM school_details s
  JOIN school_facility_details f
  ON f.EstablishmentCode = s.EstablishmentCode
WHERE s.SchoolLevel = 'PS' AND f.IsLibraryAvailable = 'Not Available'
ORDER BY s.EstablishmentName
2022-03-27 15:22:25,905 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,IsLibraryAvailable
0,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,PS,Not Available
1,10TH MILE GOVERNMENT PRIMARY SCHOOL,PS,Not Available
2,AAPGAZI GOVERNMENT PRIMARY SCHOOL,PS,Not Available
3,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,PS,Not Available
4,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,PS,Not Available

In [14]:
conn.close()